## Task 4: Scikit-learn kit(using  K-means) and Fisher Iris Data set  

## Catherine Quinlan  Student number 00376296

Required:

    1.To import the csv file 
    2.Write code in Markdown 
	3.Show how model could be used to make predictions of species
    
K- means is an unsupervised clustering algorithm. That is, it is very helpful in the cases where data is not classified previously and allows then for the gathering/clustering to offer a way of classification due to some similarities.

https://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html

In [1]:
# Numerical arrays.
import numpy as np

import pandas as pd

# Machine learning - KMeans.
from  sklearn.cluster import KMeans

# Plotting.
import matplotlib.pyplot as plt

In [2]:
 df = pd.read_csv('https://datahub.io/machine-learning/iris/r/iris.csv') # import data set data

In [3]:
df # checking correct data

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
# to use data we have to seperate the class and convert to a code to use the data in kmeans

In [5]:
df['class'] = pd.Categorical(df["class"]) # convert the class into codes so we can use kmeans with it
df["class"] = df["class"].cat.codes

In [6]:
X = df.values[:, 0:4] # 
Y = df.values[:, 4]

In [7]:
kmeans = KMeans(n_clusters=3) # As we have 3 varieties we are going to look at 3 clusters

In [8]:
KModel = kmeans.fit(X) #  fit data
kmeans.labels_

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2,
       2, 2, 2, 0, 0, 2, 2, 2, 2, 0, 2, 0, 2, 0, 2, 2, 0, 0, 2, 2, 2, 2,
       2, 0, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 0])

In [9]:
labels = kmeans.predict(X)  # put the different predictions on the classes

In [10]:
centroids = kmeans.cluster_centers_  # move centre to the average  of the values allocated to it

In [11]:
from sklearn.metrics import classification_report

In [12]:
target_names = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'] # rename the iris

In [13]:
print(classification_report(df['class'], KModel.labels_, target_names=target_names)) # compare how our classification was

                 precision    recall  f1-score   support

    Iris-setosa       0.00      0.00      0.00        50
Iris-versicolor       0.00      0.00      0.00        50
 Iris-virginica       0.95      0.72      0.82        50

       accuracy                           0.24       150
      macro avg       0.32      0.24      0.27       150
   weighted avg       0.32      0.24      0.27       150

In [14]:
# Not ready yet

In [15]:
References:

SyntaxError: invalid syntax (<ipython-input-15-805a7aefb892>, line 1)

In [ ]:
[1]https://github.com/ianmcloughlin/jupyter-teaching-notebooks/blob/master/kmeans-examples.ipynb

In [ ]:
[2]https://scikit-learn.org/stable/auto_examples/datasets/plot_iris_dataset.html#